/* Container 11 */
.container {
  position: absolute; 
  top: 88px; 
  left: 0px; 
  width: 384px; 
  height: 184px; 
  background: rgba(255,255,255,1); /* white */
  border-radius: 6px; /* border-m */
  box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.05), 0px 0px 2px rgba(23, 26, 31, 0.08); /* shadow-xs */
}
.text {
  position: relative;
  top: 2px; 
  left: 52px; 
  font-family: Lora; /* Heading */
  font-size: 24px; 
  line-height: 36px; 
  font-weight: 700; 
  color: rgba(0,0,0,1); /* black */
}
.text1{
    position: absolute; 
    top: 16px; 
    left: 16px; 
    width: 352px; 
    height: 26px; 
    font-family: Open Sans; /* Body */
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 700; 
    color: rgba(23,26,31,1); /* neutral-900 */
}
.text2 {
  position: absolute; 
  top: 45px; 
  left: 16px; 
  width: 352px; 
  height: 44px; 
  font-family: Open Sans; /* Body */
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: rgba(144,149,160,1); /* neutral-500 */
}
.week {
  position: absolute; 
  top: 70px; 
  left: 16px; 
  padding: 10px;
  width: 352px; 
  height: 22px; 
  font-family: Open Sans; /* Body */
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: rgba(144,149,160,1); /* neutral-500 */
}
/* Button 1 */
.button1 {
  position: absolute; 
  top: 130px; 
  left: 16px; 
  width: 352px; 
  height: 36px; 
  padding: 0 12px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Open Sans; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: rgba(109,109,109,1); /* primary-750 */
  background: rgba(255,255,255,1); /* white */
  opacity: 1; 
  border-radius: 6px; /* border-m */
  border-width: 1px; 
  border-color: rgba(109,109,109,1); /* primary-750 */
  border-style: solid; 
}
/* Hover */
.button:hover {
  color: rgba(81,81,81,1); /* primary-800 */
  background: rgba(255,255,255,1); /* white */
}
/* Pressed */
.button:hover:active {
  color: rgba(53,53,53,1); /* primary-850 */
  background: rgba(255,255,255,1); /* white */
}
/* Disabled */
.button:disabled {
  opacity: 0.4; 
}


/* Container 11 */
.container1 {
  position: absolute; 
  top: 88px; 
  left: 408px; 
  width: 384px; 
  height: 184px; 
  background: rgba(255,255,255,1); /* white */
  border-radius: 6px; /* border-m */
  box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.05), 0px 0px 2px rgba(23, 26, 31, 0.08); /* shadow-xs */
}
.text3{
    position: absolute; 
    top: 16px; 
    left: 16px; 
    width: 352px; 
    height: 26px; 
    font-family: Open Sans; /* Body */
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 700; 
    color: rgba(23,26,31,1); /* neutral-900 */
}
.text4 {
  position: absolute; 
  top: 45px; 
  left: 16px; 
  width: 352px; 
  height: 44px; 
  font-family: Open Sans; /* Body */
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: rgba(144,149,160,1); /* neutral-500 */
}
.week1 {
  position: absolute; 
  top: 70px; 
  left: 16px; 
  padding: 10px;
  width: 352px; 
  height: 22px; 
  font-family: Open Sans; /* Body */
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: rgba(144,149,160,1); /* neutral-500 */
}
/* Button 1 */
.button1 {
  position: absolute; 
  top: 130px; 
  left: 16px; 
  width: 352px; 
  height: 36px; 
  padding: 0 12px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Open Sans; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: rgba(109,109,109,1); /* primary-750 */
  background: rgba(255,255,255,1); /* white */
  opacity: 1; 
  border-radius: 6px; /* border-m */
  border-width: 1px; 
  border-color: rgba(109,109,109,1); /* primary-750 */
  border-style: solid; 
}
/* Hover */
.button:hover {
  color: rgba(81,81,81,1); /* primary-800 */
  background: rgba(255,255,255,1); /* white */
}
/* Pressed */
.button:hover:active {
  color: rgba(53,53,53,1); /* primary-850 */
  background: rgba(255,255,255,1); /* white */
}
/* Disabled */
.button:disabled {
  opacity: 0.4; 
}

/* Container 11 */
.container2 {
  position: absolute; 
  top: 88px; 
  left: 816px; 
  width: 384px; 
  height: 184px; 
  background: rgba(255,255,255,1); /* white */
  border-radius: 6px; /* border-m */
  box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.05), 0px 0px 2px rgba(23, 26, 31, 0.08); /* shadow-xs */
}
.text5{
    position: absolute; 
    top: 16px; 
    left: 16px; 
    width: 352px; 
    height: 26px; 
    font-family: Open Sans; /* Body */
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 700; 
    color: rgba(23,26,31,1); /* neutral-900 */
}
.text6 {
  position: absolute; 
  top: 45px; 
  left: 16px; 
  width: 352px; 
  height: 44px; 
  font-family: Open Sans; /* Body */
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: rgba(144,149,160,1); /* neutral-500 */
}
.week2 {
  position: absolute; 
  top: 70px; 
  left: 16px; 
  padding: 10px;
  width: 352px; 
  height: 22px; 
  font-family: Open Sans; /* Body */
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: rgba(144,149,160,1); /* neutral-500 */
}
/* Button 1 */
.button1 {
  position: absolute; 
  top: 130px; 
  left: 16px; 
  width: 352px; 
  height: 36px; 
  padding: 0 12px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Open Sans; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: rgba(109,109,109,1); /* primary-750 */
  background: rgba(255,255,255,1); /* white */
  opacity: 1; 
  border-radius: 6px; /* border-m */
  border-width: 1px; 
  border-color: rgba(109,109,109,1); /* primary-750 */
  border-style: solid; 
}
/* Hover */
.button:hover {
  color: rgba(81,81,81,1); /* primary-800 */
  background: rgba(255,255,255,1); /* white */
}
/* Pressed */
.button:hover:active {
  color: rgba(53,53,53,1); /* primary-850 */
  background: rgba(255,255,255,1); /* white */
}
/* Disabled */
.button:disabled {
  opacity: 0.4; 
}


/* Container 11 */
.container3 {
  position: absolute; 
  top: 296px; 
  left: 0px; 
  width: 384px; 
  height: 184px; 
  background: rgba(255,255,255,1); /* white */
  border-radius: 6px; /* border-m */
  box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.05), 0px 0px 2px rgba(23, 26, 31, 0.08); /* shadow-xs */
}
.text7{
    position: absolute; 
    top: 16px; 
    left: 16px; 
    width: 352px; 
    height: 26px; 
    font-family: Open Sans; /* Body */
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 700; 
    color: rgba(23,26,31,1); /* neutral-900 */
}
.text8 {
  position: absolute; 
  top: 45px; 
  left: 16px; 
  width: 352px; 
  height: 44px; 
  font-family: Open Sans; /* Body */
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: rgba(144,149,160,1); /* neutral-500 */
}
.week3 {
  position: absolute; 
  top: 70px; 
  left: 16px; 
  padding: 10px;
  width: 352px; 
  height: 22px; 
  font-family: Open Sans; /* Body */
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: rgba(144,149,160,1); /* neutral-500 */
}
/* Button 1 */
.button1 {
  position: absolute; 
  top: 130px; 
  left: 16px; 
  width: 352px; 
  height: 36px; 
  padding: 0 12px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Open Sans; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: rgba(109,109,109,1); /* primary-750 */
  background: rgba(255,255,255,1); /* white */
  opacity: 1; 
  border-radius: 6px; /* border-m */
  border-width: 1px; 
  border-color: rgba(109,109,109,1); /* primary-750 */
  border-style: solid; 
}
/* Hover */
.button:hover {
  color: rgba(81,81,81,1); /* primary-800 */
  background: rgba(255,255,255,1); /* white */
}
/* Pressed */
.button:hover:active {
  color: rgba(53,53,53,1); /* primary-850 */
  background: rgba(255,255,255,1); /* white */
}
/* Disabled */
.button:disabled {
  opacity: 0.4; 
}


/* Container 11 */
.container4 {
  position: absolute; 
  top: 296px; 
  left: 408px; 
  width: 384px; 
  height: 184px; 
  background: rgba(255,255,255,1); /* white */
  border-radius: 6px; /* border-m */
  box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.05), 0px 0px 2px rgba(23, 26, 31, 0.08); /* shadow-xs */
}
.text7{
    position: absolute; 
    top: 16px; 
    left: 16px; 
    width: 352px; 
    height: 26px; 
    font-family: Open Sans; /* Body */
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 700; 
    color: rgba(23,26,31,1); /* neutral-900 */
}
.text8 {
  position: absolute; 
  top: 45px; 
  left: 16px; 
  width: 352px; 
  height: 44px; 
  font-family: Open Sans; /* Body */
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: rgba(144,149,160,1); /* neutral-500 */
}
.week4 {
  position: absolute; 
  top: 70px; 
  left: 16px; 
  padding: 10px;
  width: 352px; 
  height: 22px; 
  font-family: Open Sans; /* Body */
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: rgba(144,149,160,1); /* neutral-500 */
}
/* Button 1 */
.button1 {
  position: absolute; 
  top: 130px; 
  left: 16px; 
  width: 352px; 
  height: 36px; 
  padding: 0 12px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Open Sans; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: rgba(109,109,109,1); /* primary-750 */
  background: rgba(255,255,255,1); /* white */
  opacity: 1; 
  border-radius: 6px; /* border-m */
  border-width: 1px; 
  border-color: rgba(109,109,109,1); /* primary-750 */
  border-style: solid; 
}
/* Hover */
.button:hover {
  color: rgba(81,81,81,1); /* primary-800 */
  background: rgba(255,255,255,1); /* white */
}
/* Pressed */
.button:hover:active {
  color: rgba(53,53,53,1); /* primary-850 */
  background: rgba(255,255,255,1); /* white */
}
/* Disabled */
.button:disabled {
  opacity: 0.4; 
}


/* Container 11 */
.container5 {
  position: absolute; 
  top: 296px; 
  left: 816px; 
  width: 384px; 
  height: 184px; 
  background: rgba(255,255,255,1); /* white */
  border-radius: 6px; /* border-m */
  box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.05), 0px 0px 2px rgba(23, 26, 31, 0.08); /* shadow-xs */
}
.text9{
    position: absolute; 
    top: 16px; 
    left: 16px; 
    width: 352px; 
    height: 26px; 
    font-family: Open Sans; /* Body */
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 700; 
    color: rgba(23,26,31,1); /* neutral-900 */
}
.text10 {
  position: absolute; 
  top: 45px; 
  left: 16px; 
  width: 352px; 
  height: 44px; 
  font-family: Open Sans; /* Body */
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: rgba(144,149,160,1); /* neutral-500 */
}
.week5 {
  position: absolute; 
  top: 70px; 
  left: 16px; 
  padding: 10px;
  width: 352px; 
  height: 22px; 
  font-family: Open Sans; /* Body */
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: rgba(144,149,160,1); /* neutral-500 */
}
/* Button 1 */
.button1 {
  position: absolute; 
  top: 130px; 
  left: 16px; 
  width: 352px; 
  height: 36px; 
  padding: 0 12px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Open Sans; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: rgba(109,109,109,1); /* primary-750 */
  background: rgba(255,255,255,1); /* white */
  opacity: 1; 
  border-radius: 6px; /* border-m */
  border-width: 1px; 
  border-color: rgba(109,109,109,1); /* primary-750 */
  border-style: solid; 
}
/* Hover */
.button:hover {
  color: rgba(81,81,81,1); /* primary-800 */
  background: rgba(255,255,255,1); /* white */
}
/* Pressed */
.button:hover:active {
  color: rgba(53,53,53,1); /* primary-850 */
  background: rgba(255,255,255,1); /* white */
}
/* Disabled */
.button:disabled {
  opacity: 0.4; 
}

