.footer {
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4; 
}

.karopka {
    position: relative;
    display: inline-block;
    margin-bottom: 30px; 
}

.karopka input {
    padding-left: 25px;
    height: 30px; 
    width: 280px;
    font-size: 14px;
}

.karopka button {
    height: 35px;
    padding: 0 20px;
    background-color: #007BFF; 
    color: white;
    border: none;
    cursor: pointer;
}

.karopka button:hover {
    background-color: #0056b3;
}

.icon {
    position: absolute;
    width: 20px;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.cointener {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    flex-wrap: wrap; 
}

.cointener div {
    margin: 10px;
    flex: 1 1 200px;
}

h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.oxiri {
    margin: 20px 0;
}

.oxiri select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
}

.oxiri p {
    margin-top: 20px;
}

.tarqatish {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.tarqatish img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.tarqatish img:hover {
    transform: scale(1.1); /* Optional: add hover effect to icons */
}
